
	body {
    min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
}

.btnColor {
    background: #77A1D3;
    color: #fff;
    padding:17px;
    text-decoration:none;   
}


.btnColor:hover {
    background: #77A1D3; /* Change to desired hover background color */
    color: #fff; /* Change to desired hover text color */
}

.btnColor:active {
    background: #77A1D3; /* Change to desired active background color */
    color: #fff; /* Change to desired active text color */
}

