 .navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 100%; /* Adjust the height as needed */
    overflow-y: scroll;
  }
  .navbar-bottom::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .navbar-bottom {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .bg-dark {
    background-color: transparent;
    background: linear-gradient(to right, #1a2980, #26d0ce);
}

/* Custom CSS for the body content */
.body-content {
    margin-top: 70px; /* Adjust margin top to accommodate the navbar */
    padding: 20px;
}

.navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar is on top of other content */
}

/* Additional styling for the bottom navbar */
.navbar-nav {
    justify-content: space-around; /* Evenly space the items */
    width: 100%; /* Ensure full width */
}

@media (max-width: 576px) {
    .navbar-bottom {
        height: auto;
    }
}
