
@media (min-width: 1250px) {
.jumbWidth {
	width: 45%;
}
	
}

@media (max-width: 1250px) {
	.jumbWidth {
	width: 60%;
}
}

@media (max-width: 1000px) {
	.jumbWidth {
	width: 100%;
}
}

#profile {
    
    width: 240px;
    cursor: pointer;
}

.profile span {  
   cursor: pointer;
}



a {
	text-decoration: none;
	margin-left: 0px;
}



@media (max-width: 991px) {
	#profile {
   text-align: center;
    width: 100%;
}

.profile {
	 text-align: center;
    width: 100%;
}

a {
	text-decoration: none;
	margin-left: 0px;
}


	}