.nav {
--bs-nav-link-color: var(--bs-link-color);
}
:root {
    --bs-link-color: #fff;
}

.nav .nav-link {
    color: var(--bs-nav-link-color);
}

 
 .nav-link:hover {
       color: #fff;
 }
 

.text-bg-dark {
    color: #fff !important;
    background-color: transparent;
    background: linear-gradient(to right, #1a2980, #26d0ce);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: #fff;
    transition: none;
}

    html, body {
        height: 100%;
        margin: 0;
    }
    .sidebar {
        height: 100vh;
        overflow-y: hidden;
    }
    .sidebar-content {
        height: 100%;
        overflow-y: auto;
        padding-right: 20px; /* Adjust if necessary to prevent content being cut off */
    }
    /* Hide scrollbar */
    .sidebar-content::-webkit-scrollbar {
        display: none;
    }
    .sidebar-content {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
