
    html, body {
        height: 100%;
        margin: 0;
    }
    .sidebar {
        height: 100vh;
        overflow-y: hidden;
    }
    .sidebar-content {
        height: 100%;
        overflow-y: auto;
        padding-right: 20px; /* Adjust if necessary to prevent content being cut off */
    }
    /* Hide scrollbar */
    .sidebar-content::-webkit-scrollbar {
        display: none;
    }
    .sidebar-content {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
