 /* Default styles for all screens */
  .loginWidth {
    max-width: 400px; /* Set a maximum width for the login form */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .form-label {
    float: left;
  }

  /* Styles for mobile screens (smaller than 768px) */
  @media screen and (max-width: 568px) {
    .loginWidth {
      width: 100%; /* Set width to 90% of viewport on mobile */
      max-width: 100%;
    }
  }