html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

#profile {
    display: flex;
    width: 230px;
}

.profileName {
	width:250px;
}



/* Sticky footer styles */
.footer {
	flex-shrink: 0;
}

/* Additional style for centering the text */
        .navbar-text {
            margin: auto;
        }

.navbar-brand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#countdown {
    color: white;
    width:190px;
    
}


@media (max-width: 991px) {
.navbar-nav {
        text-align: center;
     
    }
    
    #countdown {
     width:100%;
    text-align: center;
}

#profile {
   text-align: center;
    width: 100%;
}

.profileName {
	text-align: center;
    width: 100%;
}


}




