
/* Custom CSS for the body content */
.body-content {
	margin-left: 280px; /* Same width as the sidebar */
	padding: 20px; /* Adjust padding as needed */
}

.bottom-navbar {
	display: none;
}

.view-padding {
	padding-left: 100px;
	padding-right: 90px;
}

	.marginBottom {
		margin-bottom: 10px;
	}
	

/* Hide sidebar on screens smaller than lg */
@media ( max-width : 992px) {
	.sidebar {
		display: none;
	}
	.bottom-navbar {
		display: block;
	}
	.marginBottom {
		margin-bottom: 40px;
	}
}

@media ( max-width : 768px) {
	.view-padding {
		padding-left: 10px;
		padding-right: 10px;
	}
}

