html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}
/* Sticky footer styles */
.footer {
	flex-shrink: 0;
}

/* Additional style for centering the text */
        .navbar-text {
            margin: auto;
        }